<%= form_with(model: mop, local: true) do |form| %>
  <% if mop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mop.errors.count, "error") %> prohibited this mop from being saved:</h2>

      <ul>
        <% mop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-3">
            <div class="p-5">
              
              <form class="user">

                 <div class="form-group">
                  <h5 class="m-0 mb-3 text-gray-800">Type</h5>
                  <%= form.select(:mop_type, mop.category.map {|c| [ "#{c}", c] } ) %>
                
                </div>
                 <div class="form-group">
                  <h5 class="m-0 mb-3 text-gray-800">Size</h5>
                    <%= form.text_field :size %>
                
                </div>
                <div class="form-group">
                  <h5 class="m-0 mb-3 text-gray-800">Inventory</h5>
                    <%= form.number_field :inventory %>
                
                </div>
             
                <%= form.submit "Save", :class => "btn btn-primary btn-user btn-block" %>
              </form>

              
            </div>
          </div>
<% end %>
