<p id="notice"><%= notice %></p>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> Dashboard  </h1>

    
</div>
<hr/>
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800"> Livefeed <small>Last update: <%= (DateTime.now + 1.hour).strftime("%H:%M:%S") %> </small> </h1>
</div>
<div class="row">
       
            <div class="col-xl-3 col-lg-6 col-md-12 mb-4">
             <%= link_to "/pages/one_day?done=true&day=today" do %>
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-success text-uppercase mb-1">Deliveries made today</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800"><%= @today.count %></div>
                    </div>
                    <div class="col-auto">
                      
                      <i class="fas fa-truck fa text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-12 mb-4">
              <%= link_to "/pages/one_day?done=false&day=today" do %>
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-success text-uppercase mb-1">Deliveries remaining today</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800"><%= @today_remain.count %></div>
                    </div>
                    <div class="col-auto">
                      
                      <i class="fas fa-truck fa text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
     
           <div class="col-xl-3 col-lg-6 col-md-12 mb-4">
             <%= link_to "/pages/one_day?done=false&day=tomorrow" do %>
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-success text-uppercase mb-1">Deliveries for tomorrow</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800"><%= @tomorrow.count %></div>
                    </div>
                    <div class="col-auto">
                      
                      <i class="fas fa-truck fa text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
           <div class="col-xl-3 col-lg-6 col-md-12 mb-4">
              <%= link_to "/pages/dashboard" do %>
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-success text-uppercase mb-1">Deliveries for this week</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800"><%= @this_week_true.count %></div>
                    </div>
                    <div class="col-auto">
                      
                      <i class="fas fa-truck fa text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
</div>

<hr/>