<%= render 'dashboard_header' %>

	
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800"> Week calendar </h1>
</div>
<div class="col-xl-12 col-md-12 mb-4">           
	<!-- DataTales Example -->
          <div class="card border-left-primary shadow mb-4">
            <div class="card-header py-4">
              <h4 class="m-0  h4 mb-0 text-gray-800"> Date showing: <%= @today_date.strftime("%A %d-%m-%Y") + " - " + @next_friday_date.strftime("%A %d-%m-%Y") %></h4>
              <hr/>
              <p style="margin-top: 10px;">
              <span style="margin-right: 50px;">
              <i class="fas fa-angle-double-left"></i>
              <%= link_to "Previous week", "/pages/dashboard?date=" + @today_date.last_week(:monday).strftime("%Y-%m-%d") %>
            </span>
              <i class="fas fa-angle-left"></i>
              <%= link_to "Previous day", "/pages/dashboard?date=" + @today_date.prev_day.strftime("%Y-%m-%d") %>
              |  <%= link_to "Today", "/pages/dashboard?date=" + DateTime.now.strftime("%Y-%m-%d") %> |

              <span style="margin-right: 50px;">
              <%= link_to "Next day", "/pages/dashboard?date=" + @today_date.next_day.strftime("%Y-%m-%d") %>
              <i class="fas fa-angle-right"></i>
            </span>
             <%= link_to "Next week", "/pages/dashboard?date=" + @today_date.next_occurring(:monday).strftime("%Y-%m-%d") %>
              <i class="fas fa-angle-double-right"></i>
            </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>How many</th>
                      <th>Delivery date</th>
                      <th>Deliver</th>
                      <th>Comment</th>
                      <th>Add comment</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>How many</th>
                      <th>Delivery date</th>
                      <th>Deliver</th>
                      <th>Comment</th>
                      <th>Add comment</th>
                    </tr>
                  </tfoot>
                  <tbody>

                    <% @this_week.all.each do |d| %>
                    <tr>
                
                      <td><%= link_to d.get_obj.company.name + " - " + d.get_obj.name, d %></td>
                      <td><%= d.change_amount %></td>
                     
                      <td><%= d.delivery.strftime("%A %d-%m-%Y") %></td>
                      <td>
                        <%= form_for d do |form| %>
                          <%= form.hidden_field :delivered, :value => true %>
                          <%= form.submit "Deliver", :class => "btn btn-success" %>
                        <% end %>  
                      </td>
                      <td><%= d.got_comments? ? d.get_comment   : "No comments" %>   </td>
                      <td><%= link_to "Add comment", new_comment_path + "?klass=" + d.class.name + "&klass_id=" + d.id.to_s  %></td>
                    </tr>
                  <% end %>
                 
                    </tbody>
                </table>
              </div>
            </div>


          </div>
</div>
<!-- end col -->


</div>