<%= render 'dashboard_header' %>

<div class="col-xl-12 col-md-12 mb-4">           
  <!-- DataTales Example -->
          <div class="card  border-left-<%= @color %> shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0  h4 mb-0 text-gray-800"> <%= @header  %></h4>
            </div>
            <div class="card-body">
               <div id="accordion">
              <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Company</th>
                  <th>How many</th>
                  <% if @done %>
                  <th>Delivered</th>
                  <% else %>
                  <th>Delivery date</th>
                  <th>Deliver all</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% @companies.each do |c| %>
              
              
                <tr>
                  <td>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#<%=c.short_name%>" aria-expanded="true" aria-controls="<%=c.short_name%>">
                    <%=c.name%>
                    </button>
                  </td>
                  <td>
                    <%= @todays_table.where(company_id: c.id).sum(:change_amount) %>
                  </td>
                  <% if @done %>
                  <td><%= @todays_table.where(company_id: c.id).first.delivered_date.strftime("%d-%m at %H:%m")%></td>
                  <% else %>
                  <td>
                    <%= @todays_table.where(company_id: c.id).first.delivery.strftime("%d-%m-%Y %A") %>
                  </td>
                  
                  <td>
                    <%= link_to "Deliver all", deliver_all_deliveries_path + "?company_id=" + c.id.to_s + "&date=" + @todays_table.first.delivery.strftime("%d-%m-%Y"), :class => "btn btn-success" %>
                  </td>

                  <% end %>
                </tr>
              
              <% end %>
              </tbody>
            </table>
            <hr/>


              <% @companies.each do |c| %>
              <div id="<%=c.short_name%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th style="text-decoration: underline;"><%= c.name.upcase %> deliveries</th>
                      <th>How many</th>
                      <th>Delivery date</th>
                      <th>Deliver</th>
                      <th>Delivered</th>
                      <th>Comment</th>
                      <th>Add comment</th>
                    </tr>
                  </thead>
                  
                  <tbody>

                    <% @todays_table.where(company_id: c.id).each do |d| %>
                    <tr>
                
                      <td><%= link_to d.get_obj.name, d %></td>
                      <td><%= d.change_amount %></td>
                      
                      <td><%= d.delivery.strftime("%A %d-%m-%Y") %></td>
                      <% if !@is_tomorrow %>
                      <td>
                        <%= form_for d do |form| %>
                          <% if d.delivered?  %>
                                <%= form.hidden_field :delivered, :value => false %>
                                <%= form.submit "Undo" , :class => "btn btn-danger" %>
                          <% else %>
                                 <%= form.hidden_field :delivered, :value => true %>
                                <%= form.submit "Deliver" , :class => "btn btn-success"%>
                          <% end %>
                        <% end %>  

                      </td>
                      <% end %>
                      <td><%= d.delivered? ? d.delivered_date.strftime("%d-%m %H:%m") : "Waiting"  %> </td>
                      <td><%= d.got_comments? ? d.get_comment   : "No comments" %>   </td>
                      <td><%= link_to "Add comment", new_comment_path + "?klass=" + d.class.name + "&klass_id=" + d.id.to_s  %></td>
                    </tr>
                  <% end %>
                 
                    </tbody>
                </table>
                           </div><!-- collapse --> 
            <% end %>
          </div><!-- accordion -->  
            </div>

            
          </div>