
<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
    
              </div>
              <form class="user">

                 <div class="form-group">
                <%= form.text_field :name, :class => "form-control form-control-user", placeholder: "Company name"%>
                </div>
                <div class="form-group">
                <%= form.text_field :org_nr, :class => "form-control form-control-user", placeholder: "Organization number"%>
                </div>
                 <div class="form-group">
                <%= form.text_field :street, :class => "form-control form-control-user", placeholder: "Street address"%>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                   <%= form.text_field :post_code, :class => "form-control form-control-user", placeholder: "Postal code"%>
                  </div>
                  <div class="col-sm-6">
                   <%= form.text_field :city, :class => "form-control form-control-user", placeholder: "City"%>
                  </div>
                </div>
                 <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                   <%= form.text_field :phone_number, :class => "form-control form-control-user", placeholder: "Phone number"%>
                  </div>
                  <div class="col-sm-6">
                   <%= form.text_field :email, :class => "form-control form-control-user", placeholder: "Company email"%>
                  </div>
                </div>

                <h4 class="m-0  h4 mb-3 text-gray-800">Contact person</h4>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                   <%= form.text_field :contact_person, :class => "form-control form-control-user", placeholder: "Contact person"%>
                  </div>
                  <div class="col-sm-4">
                   <%= form.text_field :phone_number_contact_person, :class => "form-control form-control-user", placeholder: "Phone number"%>
                  </div>
                  <div class="col-sm-4">
                   <%= form.text_field :contact_person_email, :class => "form-control form-control-user", placeholder: "Email"%>
                  </div>
                </div>
              
                <%= form.submit "Save", :class => "btn btn-primary btn-user btn-block" %>
              </form>

              
            </div>
          </div>

          <% end %>