<p id="notice"><%= notice %></p>

<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Contracts</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
          <hr/>

 <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All contracts</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price pr. month</th>
                      <th>Delivery cost</th>
                      <th>Change day</th>
                      <th>Interval</th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Price pr. month</th>
                      <th>Delivery cost</th>
                      <th>Change day</th>
                      <th>Interval</th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>
                  <tbody>

                    <% @company_mats.each do | cm | %>
                    <tr>
                
                      <td><%= link_to cm.company.name + " - " + cm.amount.to_s + " x " + cm.mat.name, cm %></td>
                      <td><%= cm.month_price %>kr</td>
                      <td><%= cm.delivery_price %>kr</td>
                      <td><%= cm.change_day %></td>
                      <td><%= cm.change %></td>
                      <td><%= cm.start_date.strftime("%d-%m-%Y") %></td>
                      <td><%= cm.end_date.strftime("%d-%m-%Y") %></td>
                      <td><%= link_to 'Edit', edit_company_mat_path(cm) %></td>
                      <td><%= link_to 'Delete', cm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                 
                    </tbody>
                </table>
              </div>
            </div>
          </div>