<p id="notice"><%= notice %></p>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">  <%= link_to @company_mat.company.name, @company_mat.company %> </h1>
</div>
<hr/>


  <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"><%= @company_mat.amount %> x <%= @company_mat.mat.name %> <%= "mat".pluralize(@company_mat.amount) %>  </h6>
              </div>
              <div class="card-body">
                  		<p><strong>Change every </strong>
        						  <%= @company_mat.change_day %>, <%= @company_mat.change %> <%= "time".pluralize(@company_mat.change) %> a month
        						  </p>

        						<table class="table table-dark table-striped">
                      <thead>
                        <tr>
                        <th style="width: 50%;font-weight: 500">Pr. mat</th>
                        <th style=" font-weight: 500">Pr. month</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= @company_mat.contract_price %>kr</td>
                          <td><%= @company_mat.month_price %>kr</td>
                        </tr>
                        <tr>
                          <th style="width: 50%; font-weight: 500;">Pr. delivery</th>
                          <th style="font-weight: 500;">Pr. month</th>
                        </tr>
                        <tr>
                          <td><%= @company_mat.delivery_price %>kr</td>
                          <td><%= @company_mat.delivery_m_price %>kr</td>
                        </tr>
                         <tr>
                          <th>SUM</th>
                          <th><%= @company_mat.month_sum %>kr</th>
                        </tr>
                      </tbody>      
                    </table>
                      <p>
                      <strong>Period</strong>
                      <%= @company_mat.start_date.strftime("%a %d-%m-%Y") %> - <%= @company_mat.end_date.strftime("%a %d-%m-%Y") %>
                    </p>
                    
            	</div>
              <div class="card-footer">
                <i class="far fa-edit"></i>
                <%= link_to "Edit contract", edit_company_mat_path(@company_mat) %> 
                <i class="far fa-minus-square"></i>
                <%= link_to 'Delete', @company_mat, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
                    
                  
          </div>
      </div>
