<p id="notice"><%= notice %></p>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">  <%= link_to @company_mat.company.name, @company_mat.company %> </h1>
</div>
<hr/>


<!-- Approach -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
      	<%= @company_mat.amount %> matter type <%= @company_mat.mat.name %>
      </h6>
    </div>
    <div class="card-body">
     <p>
	  <strong>Byttes hver </strong>
	  <%= @company_mat.change_day %>, <%= @company_mat.change %> ganger i måneden
	  
	</p>

	<p>
	  <strong>Kontrak starter</strong>
	  <%= @company_mat.start_date %>
	</p>

	<p>
	  <strong>Kontrakt slutter</strong>
	  <%= @company_mat.end_date %>
	</p>
    </div>
    <div class="card-footer">
		<i class="far fa-edit"></i>
		<%= link_to "Edit contract", edit_company_mat_path(@company_mat) %> 
	    <i class="far fa-minus-square"></i>
	    <%= link_to 'Delete', @company_mat, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>